.color-choice {
    width: 5rem;
    height: 5rem;
    cursor: pointer;

    path {
        width: 95%;
        height: 95%;
        pointer-events: none;
        stroke: $font-color;
        stroke-width: 4px;
        stroke-linejoin: round;
    }
}