body {
    background-color: $bg-color;
    margin: 0;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-width: max-content;
    margin: 0 auto;

    h1,
    h2, 
    p {
        text-align: center;
    }
}