/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/poppins-v19-latin/poppins-v19-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/poppins-v19-latin/poppins-v19-latin-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/poppins-v19-latin/poppins-v19-latin-regular.woff2") format("woff2"), url("../assets/fonts/poppins-v19-latin/poppins-v19-latin-regular.woff") format("woff"), url("../assets/fonts/poppins-v19-latin/poppins-v19-latin-regular.ttf") format("truetype"), url("../assets/fonts/poppins-v19-latin/poppins-v19-latin-regular.svg#Poppins") format("svg");
  /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/poppins-v19-latin/poppins-v19-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/poppins-v19-latin/poppins-v19-latin-700.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/poppins-v19-latin/poppins-v19-latin-700.woff2") format("woff2"), url("../assets/fonts/poppins-v19-latin/poppins-v19-latin-700.woff") format("woff"), url("../assets/fonts/poppins-v19-latin/poppins-v19-latin-700.ttf") format("truetype"), url("../assets/fonts/poppins-v19-latin/poppins-v19-latin-700.svg#Poppins") format("svg");
  /* Legacy iOS */
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Poppins", sans-serif;
  color: #FFF;
}

h1 {
  margin: 0 auto 1rem auto;
}

h2 {
  margin: 0 auto 1rem auto;
}

p {
  margin: 0 auto 2rem auto;
}

#random-hex-value {
  font-size: 1.2rem;
  font-weight: 700;
}

body {
  background-color: #201a40;
  margin: 0;
}

.game-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: max-content;
  margin: 0 auto;
}
.game-wrapper h1,
.game-wrapper h2,
.game-wrapper p {
  text-align: center;
}

.disabled,
:disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

#color-choice-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.color-choice {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}
.color-choice path {
  width: 95%;
  height: 95%;
  pointer-events: none;
  stroke: #FFF;
  stroke-width: 4px;
  stroke-linejoin: round;
  transform: translateX(4px);
}

#difficulty-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 0.25rem auto 1rem auto;
}

button {
  max-width: max-content;
  padding: 0.75rem 1.25rem;
  background-color: transparent;
  color: #FFF;
  border: 2px solid #FFF;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}
button:hover, button:active, button.active, button:focus {
  background-color: #FFF;
  color: #201a40;
}
button:disabled:hover, button:disabled:active, button:disabled:focus {
  background-color: transparent;
  color: #FFF;
}
button#play-again {
  margin: 0 auto 1.5rem auto;
}